.tasks{
    background-color: var(--white-color);
    padding-top: 60px;
    padding-bottom: 60px;
    // margin-bottom: -30px;
    @media screen and (min-width: 1200px){
      padding-top: 94px;
      padding-bottom: 94px;
    }
    &__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        @media screen and  (max-width:767px){
          text-align: center;
        }
      }
    &__text{
        margin-top: 10px;
        max-height: 75px;
        font-size: 14px;
        line-height: calc(24/14);
        letter-spacing: 0.03em;
        color: var(--second-color);
       
    }
  }

  // .tasks__text{
  //   @media screen and (min-width: 480px) {
  //     :not(:last-child){
  //       margin-bottom: 30px;
       
  //     }
  //   }
  //   @media screen and (min-width: 780px) and (max-width: 1199px) {
  //    &:nth-last-child(- n + 2){
  //      margin-bottom: 0;
  //    }
  //   }

  //   @media screen and (min-width: 1200px) {
  //     margin-bottom: 0;
  //   }
  // }  


  
  .tasks__list {
    margin-bottom: -30px;

    @media screen and (min-width: 768px) {
      display: flex;
     flex-wrap: wrap;
     
     margin-right: -30px;
     
    }
  }
  .tasks__item{
  
    margin-bottom: 30px;
    // &:not(:last-child){
    //   margin-bottom: 30px;
    // }
    @media screen and (min-width: 768px){
      margin-right: 30px;
      width: calc(100%  / 2 - 30px);
      // &:nth-last-child(-n+2){
      //   margin-bottom: 0;
      // }
    }
   
    
    @media screen and (min-width: 1200px) {
      width: calc((100%  - 90px) / 4);
      &:last-child{
        margin-right: 0;
      }
      // margin-bottom: 0;
    }




    // &:not(:last-child){
    //     margin-right: 30px;
    //   } 
    &:before{
      content: "";
    display: block;
    height: 120px;
    // margin-top: 30px;
  margin-bottom: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70px 70px;
  background-color: #F5F4FA;
    // @media screen and (max-width:1199px) {
    //   &:not(:first-child){
    //     margin-top: 30px;
    //   }
    // }

    }
  }
   
  // .tasks__item:nth-child(2n){
  //   @media screen and (min-width: 768px) and (max-width:1199px) {
  //     margin-right: 0;
  // }
  // }
  .antenna-icon::before{
  background-image: url(../svg/antenna.svg)
  }
  .clocks-icon::before {
    background-image: url(../svg/clock.svg)
  }
  .diagram-icon::before {
    background-image: url(../svg/diagram.svg)
  }
  .astronaut-icon::before {
    background-image: url(../svg/astronaut.svg)
  }
 

