.contact{
  
 
  @media screen and (max-width:1199px) {
    display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  }
    display: flex;
    align-items: center;
    margin-left: auto;
    &__mail,
    &__tel{
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--second-color);
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
      transition-property:color;

      @media screen and (max-width:767px) {
        display: none;
      }
    }
    &__mail-icon,
    &__tel-icon{
     margin-right: 10px;
     fill:var(--second-color);
     transition-property:fill;
    
   }
  }

  .contact__mail{
    @media screen and (min-width:1200px) {
      margin-right: 50px;
    }
    &:hover,
    &:focus{
      color: var(--accent-color);
      .contact__mail-icon{
     
     fill: var(--accent-color);
    }
   
  }
  }
  .contact__tel{
  margin-right: auto;
  @media screen and (max-width:1199px) {
    margin-top: 10px;
  }
    &:hover,
    &:focus{
      color: var(--accent-color);
      .contact__tel-icon{
      
      fill: var(--accent-color);
    }
  }
}

   
  
   
   